body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: #2e2f42;
}

.studio-end {
  color: #f4f4fd;
}

.item-nav {
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

.item-add {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item-add:hover,
.item-add:focus,
.item-nav:hover,
.item-nav:focus {
  color: #404bbf;
}

.hero-img {
  background: #2e2f42;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.button {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

.features-text {
  color: #434455;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.team {
  background: #f4f4fd;
}

.team-title {
  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.portfolio-title {
  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team-card {
  background: #fff;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.card-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-card {
  border: 1px solid #e7e9fc;
  background: #fff;
}

.end {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
